// Padding and Margin
$count: 0;
$sides: (top, bottom, left, right);

@while $count <= 60 {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$count} {
      margin-#{$side}: #{0.0625 * $count}rem !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$count} {
      padding-#{$side}: #{0.0625 * $count}rem !important;
    }
  }
  $count: $count + 4;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

.dashed-border-bottom {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to left, $color-divider 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 12px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
  }
}

.border-bottom {
  border-bottom: 1px solid $color-divider;
}
